<!doctype html>
<html ng-app="todo">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>
        <title>ToDo</title>
		<link rel="stylesheet" href="stylesheets/style.css"/>
    </head>
    <body>
		<ng-view></ng-view>
		
		<!-- Libraries -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
		<script src="javascripts/main.start.js"></script>
    </body>
</html>